.list {
  background: transparentize($color: #6e6e6e, $amount: .5);
  margin:0 auto;
  max-width: 1080px;
 
  span{
    position: absolute;
    color: red;
    filter: opacity(.5);
    transform: rotate(15deg);
    border: 1px solid red;
    border-radius: 3px;
    z-index: 0;
}
  img {
    box-shadow: 3px 3px 3px black;
    width: 50%;
    height: auto;
  }
}
.list-item{
  background: transparentize($color: #6e6e6e, $amount: .5);
  margin:20px auto;
  max-width: 720px;
}