.about{
    margin:0 auto;
  max-width: 720px;
  background: transparentize($color: #6e6e6e, $amount: .5);
  border-radius: 20px;
  padding: 30px;
   h1{
    padding-bottom: 20px;
   }

    .bio{
        margin: 20px auto;
       max-width: 700px;
    }
    img{
        width: 700px;
        height: auto;
        border-radius: 20px;
    }

}

.intro{
    font-style: italic;
    font-weight: lighter;
}