.home{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}

.mask{
    overflow: hidden;

}

.port{
    margin:0;
  transform: translateY(-110%);
  animation: slideDown1 1.5s .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slideDown1 {
    to{
        transform:translateY(0);
    }
    
  }
  